.app
{
  width: 100vw;
  height: 100vh;
  min-height: 630px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.app > * {
  flex-shrink: 0;
}

.circle-blur
{
  position: absolute;
  bottom: 70%;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  aspect-ratio: 1;
  background-color: rgba(238, 43, 0, 0.2);
  border-radius: 100%;
  filter: blur(4rem);
}

.widget-body
{
  margin: 0;
  max-width: 630;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-content: center; 
  gap: 20px; 
  padding-left: 10px;
  overflow: auto;
}

.widget-body > * {
  flex-shrink: 0;
  min-width: fit-content;
}