.charts-body
{
    width: 100%; 
    height: 60%;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    background: linear-gradient(to top,rgba(255, 255, 255, 0.01), 85%,rgba(255, 188, 17, 0.1));
}